.swiftpm/xcode/package.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
.swiftpm/xcode/package.xcworkspace/xcuserdata/horoko.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm
Sources/.DS_Store
Sources/MaxUI/.DS_Store
.DS_Store
*.xcuserstate
*.xcbkptlist
